


  /* WELCOME PAGE */
  .welcomeWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }


  .CVcound {
    font-family: 'Numans', sans-serif;
    letter-spacing: -0.1rem;
    font-size: 1.1rem;
  }

.goToCVsLink {
    color: var(--btn-bg-color);
    font-weight: 800;
    cursor: pointer;
}

.welcomeBtn {
    margin: 0.5rem;
    /* padding: 0.1rem 0.4rem; */
    background-color: #e1e1e1;
  }
.actionContainer {
    margin-top: 2rem;
}